---
# main.scss
---

@charset "utf-8";


$navbar-height: 6rem;
$navbar-item-img-max-height: 3.5rem;


$tailor-maid-grey: hsl(0,0,20);

$text: $tailor-maid-grey;
$dark: $tailor-maid-grey;

$navbar-background-color: $tailor-maid-grey;
$navbar-item-hover-background-color: none;
$navbar-item-color: lighten($tailor-maid-grey, 70);
$navbar-item-hover-color: lighten($tailor-maid-grey, 100);

@import 'bulma/bulma';
@import 'font-awesome5/scss/fontawesome';

html,
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar a.navbar-item {
    font-weight: bold;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-bottom: 1px solid #303030;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */

.accordion-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\025BC';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\025B2";
    /* Unicode character for "minus" sign (-) */
}

.footer-title {
    text-transform: capitalize;
    margin-bottom: 1.1em;
    font-weight: bold;
}

.footer li {
    padding: 0.4em;
}

.inherit-line-height {
    line-height: inherit;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}