<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tailor Maid in Ripley carries out a wide range of clothing repairs and alterations at competitive prices; including wedding and bridesmaid dresses, formal wear to curtains, cushions and bags. We alter them all!">
    <meta name="geo.position" CONTENT="53.0500574; -1.4037596">
    <meta name="geo.placename" CONTENT="Tailor Maid">
    <meta name="geo.region" CONTENT="Ripley, Derbyshire">
    <meta name="robots" content="index,follow">
    <title>{% if page.title %}{{ page.title }} - Tailor Maid{% else %}{{ site.name }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />

</head>

<body>
    <nav class="navbar unset">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ "/" | prepend: site.baseurl }}">
                    <img id="logo" src="{{ "/assets/gfx/logo.png" | prepend: site.baseurl }}" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% link _pages/covid-19.html %}">
                        COVID-19
                    </a>
                </div>
                <div class="navbar-end">
                    <span class="navbar-item title">
                        <span class="is-block">01773 747 450</span></span>
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <nav class="notification is-warning">
        <div class="content">
            <p class="subtitle has-text-centered"><strong>Tailor Maid is open</strong></p>
            <p class="subtitle has-text-centered">We're operating at reduced opening hours. <a class="navbar-item" href="{% link _pages/covid-19.html %}">More info</a>.</p>
        </div>
    </nav>
    <main class="main">
        {{ content }}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <ul>
                        <li class="footer-title">
                            Contact
                        </li>
                        <li>
                            <p>8 Church Street</p>
                            <p>Ripley</p>
                            <p>DE5 3BU</p>
                        </li>
                        <li>
                            01773 747 450
                        </li>
                        <li>
                            talk@tailor-maid.co.uk
                        </li>
                    </ul>
                </div>
                <div class="column is-3">
                    <ul>
                        <li class="footer-title">
                            Opening Hours
                        </li>
                        <li>
                            <table class="is-fullwidth">
                                <tr>
                                    <td width="50%">Monday</td>
                                    <td>10:00am - 2:00pm</td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>10:00am - 2:00pm</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>Closed</td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>10:00am - 2:00pm</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>10:00am - 2:00pm</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>10:00am - 2:00pm</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Closed</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
                <div class="column is-6">
                    <ul>
                        <li class="footer-title">
                            Links
                        </li>
                        <li>
                            <h1 class="title"><a href="https://www.facebook.com/Tailor-Maid-154166927936624/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></h1>
                            <h1 class="title"><a href="https://local.google.com/place?id=15825126796985292684&use=srp#fpstate=lie" target="_blank"><i class="fab fa-google"></i> Google Page</a></h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>